{% extends "core/base.html" %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <h1>Корзина</h1>
    {% if products %}
        <div class="list-group mb-4">
            {% for cart_product in products %}
                <div class="list-group-item d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center">
                    <div class="flex-grow-1">
                        {{ cart_product.product.name }} ({{ cart_product.quantity }})
                    </div>
                    <span class="badge bg-primary rounded-pill mt-2 mt-md-0">{{ cart_product.product.price }} руб.</span>
                </div>
            {% endfor %}
        </div>
        <div class="text-end mt-3">
            <p>Общая стоимость: <strong>{{ total_price }} руб.</strong></p>
            <a href="{% url 'checkout' %}" class="btn btn-success">Оформить заказ</a>
        </div>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
